modules = ["nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["chromium"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Automation Worker"

[[workflows.workflow]]
name = "Automation Worker"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[workflows.workflow.metadata]
outputType = "console"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "index.js"]

[userenv]

[userenv.shared]
CONTROL_APP_URL = "https://inspection-scheduler-accelerator.replit.app/"
DRY_RUN = "false"
PORTAL_USERNAME = "permits@aro.homes"
PORTAL_PASSWORD = "Aroconstruction1"

[userenv.development]
CHROMIUM_PATH = "/nix/store/qa9cnw4v5xkxyip6mb9kxqfq1z4x2dx1-chromium-138.0.7204.100/bin/chromium"

[[ports]]
localPort = 3000
externalPort = 80
